body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(/assets/img/img0.jpg);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: cover;
}

header{
    text-align: center;
    color: white;
}

.active{
    background-color: cadetblue;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: bisque;
}

li{
    float: left;
}

li a{
    display: block;
    color: black;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

li a:hover:not(.active){
    background-color: beige;
}

h1{
    padding: 10px;
    margin: 0;
}

footer{
    color: gray;
    padding: 15px;
    margin: 0;
    text-align: center;
}