.subtitulo{
    margin: 15px;
    padding: 0;
    color: white;
}

.contenedor{
    display: flex;
    justify-content: center;
    color: white;
}

table{
    margin-top: 25px;
    border-collapse: collapse;
    border: 2px solid grey;
    letter-spacing: 1px;
}

th{
    border: 1px solid gray;
    padding: 10px;
    background-color: rgb(75, 75, 231);
}

td{
    border: 1px solid gray;
    padding: 10px;    
}

.completada{
    text-align: center;
}

tr:hover{
    background-color: gray;
}